<%- include('partials/header', { title: 'Add model'}) %>

<div>

    <form action="/catalog/models/create" method="post">
        <label for="name">
            <p>Name *</p>
            <input type="text" name="name" id="name" maxlength="30" required
                value="<%= locals.name == undefined ? "" : name %>">
        </label>
        <label for="make">
            <p>Make *</p>
            <input type="text" name="make" id="make" maxlength="30" required
                value="<%= locals.make == undefined ? "" : make %>">
        </label>
        <label for="zts">
            <p>0-60:</p>
            <input type="text" name="zts" id="zts" maxlength="40"
                value="<%= locals.zts == undefined ? "" : zts %>">
        </label>
        <label for="hp">
            <p>Horsepower</p>
            <input type="text" name="hp" id="hp" maxlength="30"
                value="<%= locals.hp == undefined ? "" : hp %>">
        </label>

        <p>* denotes required field</p>

        <% if (locals.errors) { %>
            <% errors.forEach(e => { %>
                <li>
                    <%= e.message %>
                </li>
            <%}) %>
        <% } %>

        <button type="submit">Add model to database</button>
    </form>


</div>

<%- include('partials/footer') %>
